<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>CaoCao_run_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>84</integer>
			<key>width</key>
			<integer>111</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>-12.5</real>
			<key>offsetY</key>
			<real>20</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>CaoCao_run_down_2.png</key>
		<dict>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>-15</real>
			<key>offsetY</key>
			<real>17</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>CaoCao_run_left_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>116</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>10</real>
			<key>offsetY</key>
			<real>27</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>CaoCao_run_left_2.png</key>
		<dict>
			<key>x</key>
			<integer>199</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>28.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>CaoCao_run_right_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>95</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>12</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>CaoCao_run_right_2.png</key>
		<dict>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>114</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>10</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>CaoCao_run_up_1.png</key>
		<dict>
			<key>x</key>
			<integer>199</integer>
			<key>y</key>
			<integer>87</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>18.5</real>
			<key>offsetY</key>
			<real>22</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>CaoCao_run_up_2.png</key>
		<dict>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>116</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>21</real>
			<key>offsetY</key>
			<real>25</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
	</dict>
</dict>
</plist>