<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>JiangWei_attack_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>410</integer>
			<key>y</key>
			<integer>119</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>-10.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_attack_down_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>119</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>-13.5</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_attack_down_3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-32.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_attack_down_4.png</key>
		<dict>
			<key>x</key>
			<integer>383</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>6.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_attack_left_1.png</key>
		<dict>
			<key>x</key>
			<integer>237</integer>
			<key>y</key>
			<integer>119</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>14</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_attack_left_2.png</key>
		<dict>
			<key>x</key>
			<integer>278</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>22</real>
			<key>offsetY</key>
			<real>9</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_attack_left_3.png</key>
		<dict>
			<key>x</key>
			<integer>113</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>133</integer>
			<key>height</key>
			<integer>71</integer>
			<key>offsetX</key>
			<real>-29.5</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_attack_left_4.png</key>
		<dict>
			<key>x</key>
			<integer>125</integer>
			<key>y</key>
			<integer>119</integer>
			<key>width</key>
			<integer>111</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>14.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_attack_right_1.png</key>
		<dict>
			<key>x</key>
			<integer>61</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>105</integer>
			<key>offsetX</key>
			<real>-8.5</real>
			<key>offsetY</key>
			<real>-17.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_attack_right_2.png</key>
		<dict>
			<key>x</key>
			<integer>247</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>-16</real>
			<key>offsetY</key>
			<real>-5.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_attack_right_3.png</key>
		<dict>
			<key>x</key>
			<integer>352</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>33</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_attack_right_4.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>203</integer>
			<key>width</key>
			<integer>111</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_attack_up_1.png</key>
		<dict>
			<key>x</key>
			<integer>308</integer>
			<key>y</key>
			<integer>119</integer>
			<key>width</key>
			<integer>101</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>12.5</real>
			<key>offsetY</key>
			<real>-8</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_attack_up_2.png</key>
		<dict>
			<key>x</key>
			<integer>127</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>81</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>20.5</real>
			<key>offsetY</key>
			<real>-17</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_attack_up_3.png</key>
		<dict>
			<key>x</key>
			<integer>75</integer>
			<key>y</key>
			<integer>119</integer>
			<key>width</key>
			<integer>49</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>6</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_attack_up_4.png</key>
		<dict>
			<key>x</key>
			<integer>209</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>-14.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
	</dict>
</dict>
</plist>