<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>JiangWei_run_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>137</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_run_down_2.png</key>
		<dict>
			<key>x</key>
			<integer>209</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-14.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_run_left_1.png</key>
		<dict>
			<key>x</key>
			<integer>105</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>-4</real>
			<key>offsetY</key>
			<real>6</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_run_left_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>103</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>3</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_run_right_1.png</key>
		<dict>
			<key>x</key>
			<integer>388</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>82</integer>
			<key>offsetX</key>
			<real>10</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_run_right_2.png</key>
		<dict>
			<key>x</key>
			<integer>283</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_run_up_1.png</key>
		<dict>
			<key>x</key>
			<integer>71</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>6.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>JiangWei_run_up_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
	</dict>
</dict>
</plist>