<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>LvBu_run_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>203</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>145</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>-15.5</real>
			<key>offsetY</key>
			<real>34</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>LvBu_run_down_2.png</key>
		<dict>
			<key>x</key>
			<integer>349</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>149</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>-17.5</real>
			<key>offsetY</key>
			<real>28.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>LvBu_run_left_1.png</key>
		<dict>
			<key>x</key>
			<integer>104</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>108</integer>
			<key>offsetX</key>
			<real>13</real>
			<key>offsetY</key>
			<real>39</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>LvBu_run_left_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>106</integer>
			<key>offsetX</key>
			<real>8</real>
			<key>offsetY</key>
			<real>40</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>LvBu_run_right_1.png</key>
		<dict>
			<key>x</key>
			<integer>376</integer>
			<key>y</key>
			<integer>115</integer>
			<key>width</key>
			<integer>119</integer>
			<key>height</key>
			<integer>157</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>15.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>LvBu_run_right_2.png</key>
		<dict>
			<key>x</key>
			<integer>253</integer>
			<key>y</key>
			<integer>115</integer>
			<key>width</key>
			<integer>122</integer>
			<key>height</key>
			<integer>154</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>14</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>LvBu_run_up_1.png</key>
		<dict>
			<key>x</key>
			<integer>128</integer>
			<key>y</key>
			<integer>115</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>137</integer>
			<key>offsetX</key>
			<real>26</real>
			<key>offsetY</key>
			<real>23.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>LvBu_run_up_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>115</integer>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>135</integer>
			<key>offsetX</key>
			<real>29</real>
			<key>offsetY</key>
			<real>28.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
	</dict>
</dict>
</plist>