<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MengHuo_run_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>337</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>-2</real>
			<key>offsetY</key>
			<real>7</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MengHuo_run_down_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>95</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MengHuo_run_left_1.png</key>
		<dict>
			<key>x</key>
			<integer>97</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>63</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>-3.5</real>
			<key>offsetY</key>
			<real>6.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MengHuo_run_left_2.png</key>
		<dict>
			<key>x</key>
			<integer>426</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>62</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-7</real>
			<key>offsetY</key>
			<real>3.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MengHuo_run_right_1.png</key>
		<dict>
			<key>x</key>
			<integer>64</integer>
			<key>y</key>
			<integer>89</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>10.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MengHuo_run_right_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>89</integer>
			<key>width</key>
			<integer>62</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>14</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MengHuo_run_up_1.png</key>
		<dict>
			<key>x</key>
			<integer>161</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>84</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>12.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MengHuo_run_up_2.png</key>
		<dict>
			<key>x</key>
			<integer>246</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>90</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>13</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
	</dict>
</dict>
</plist>