<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>MiShuShi_attack_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>337</integer>
			<key>y</key>
			<integer>105</integer>
			<key>width</key>
			<integer>51</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>5.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_attack_downleft_1.png</key>
		<dict>
			<key>x</key>
			<integer>54</integer>
			<key>y</key>
			<integer>105</integer>
			<key>width</key>
			<integer>58</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_attack_downleft_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>109</integer>
			<key>height</key>
			<integer>103</integer>
			<key>offsetX</key>
			<real>-9.5</real>
			<key>offsetY</key>
			<real>-12.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_attack_downright_1.png</key>
		<dict>
			<key>x</key>
			<integer>113</integer>
			<key>y</key>
			<integer>105</integer>
			<key>width</key>
			<integer>50</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>10</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_attack_downright_2.png</key>
		<dict>
			<key>x</key>
			<integer>315</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>115</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>20.5</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_attack_upleft_1.png</key>
		<dict>
			<key>x</key>
			<integer>111</integer>
			<key>y</key>
			<integer>176</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_attack_upleft_2.png</key>
		<dict>
			<key>x</key>
			<integer>111</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>107</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>-16.5</real>
			<key>offsetY</key>
			<real>11</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_attack_upright_1.png</key>
		<dict>
			<key>x</key>
			<integer>61</integer>
			<key>y</key>
			<integer>176</integer>
			<key>width</key>
			<integer>49</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>7.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_attack_upright_2.png</key>
		<dict>
			<key>x</key>
			<integer>219</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>95</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>16.5</real>
			<key>offsetY</key>
			<real>8</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_run_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>282</integer>
			<key>y</key>
			<integer>105</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>8.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_run_down_2.png</key>
		<dict>
			<key>x</key>
			<integer>389</integer>
			<key>y</key>
			<integer>105</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>63</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>6.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_run_left_1.png</key>
		<dict>
			<key>x</key>
			<integer>164</integer>
			<key>y</key>
			<integer>105</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>66</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>16</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_run_left_2.png</key>
		<dict>
			<key>x</key>
			<integer>224</integer>
			<key>y</key>
			<integer>105</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>65</integer>
			<key>offsetX</key>
			<real>-7.5</real>
			<key>offsetY</key>
			<real>16.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_run_right_1.png</key>
		<dict>
			<key>x</key>
			<integer>442</integer>
			<key>y</key>
			<integer>105</integer>
			<key>width</key>
			<integer>57</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>15.5</real>
			<key>offsetY</key>
			<real>14</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_run_right_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>176</integer>
			<key>width</key>
			<integer>59</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>16.5</real>
			<key>offsetY</key>
			<real>12</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_run_up_1.png</key>
		<dict>
			<key>x</key>
			<integer>431</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>53</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>6.5</real>
			<key>offsetY</key>
			<real>17</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>MiShuShi_run_up_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>105</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>8</real>
			<key>offsetY</key>
			<real>18</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
	</dict>
</dict>
</plist>