<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>QiangQiBing_attack_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>216</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_down_2.png</key>
		<dict>
			<key>x</key>
			<integer>379</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>122</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>7</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_down_3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>144</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>-11</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_downleft_1.png</key>
		<dict>
			<key>x</key>
			<integer>374</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>127</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>-4.5</real>
			<key>offsetY</key>
			<real>10</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_downleft_2.png</key>
		<dict>
			<key>x</key>
			<integer>171</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>131</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>10</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_downleft_3.png</key>
		<dict>
			<key>x</key>
			<integer>553</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>125</integer>
			<key>height</key>
			<integer>117</integer>
			<key>offsetX</key>
			<real>-11.5</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_downright_1.png</key>
		<dict>
			<key>x</key>
			<integer>455</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>118</integer>
			<key>offsetX</key>
			<real>4.5</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_downright_2.png</key>
		<dict>
			<key>x</key>
			<integer>679</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>107</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_downright_3.png</key>
		<dict>
			<key>x</key>
			<integer>290</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>88</integer>
			<key>height</key>
			<integer>125</integer>
			<key>offsetX</key>
			<real>20</real>
			<key>offsetY</key>
			<real>-7.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_left_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>135</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>3.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_left_2.png</key>
		<dict>
			<key>x</key>
			<integer>424</integer>
			<key>y</key>
			<integer>243</integer>
			<key>width</key>
			<integer>143</integer>
			<key>height</key>
			<integer>78</integer>
			<key>offsetX</key>
			<real>7.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_left_3.png</key>
		<dict>
			<key>x</key>
			<integer>568</integer>
			<key>y</key>
			<integer>243</integer>
			<key>width</key>
			<integer>162</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>-11</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_right_1.png</key>
		<dict>
			<key>x</key>
			<integer>848</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>111</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>17.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_right_2.png</key>
		<dict>
			<key>x</key>
			<integer>307</integer>
			<key>y</key>
			<integer>243</integer>
			<key>width</key>
			<integer>116</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>11</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_right_3.png</key>
		<dict>
			<key>x</key>
			<integer>731</integer>
			<key>y</key>
			<integer>243</integer>
			<key>width</key>
			<integer>129</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>33.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_up_1.png</key>
		<dict>
			<key>x</key>
			<integer>303</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>10</real>
			<key>offsetY</key>
			<real>4</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_up_2.png</key>
		<dict>
			<key>x</key>
			<integer>892</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>12</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_up_3.png</key>
		<dict>
			<key>x</key>
			<integer>502</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>64</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>10</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_upleft_1.png</key>
		<dict>
			<key>x</key>
			<integer>111</integer>
			<key>y</key>
			<integer>243</integer>
			<key>width</key>
			<integer>92</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>8.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_upleft_2.png</key>
		<dict>
			<key>x</key>
			<integer>635</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>105</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>15.5</real>
			<key>offsetY</key>
			<real>5.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_upleft_3.png</key>
		<dict>
			<key>x</key>
			<integer>861</integer>
			<key>y</key>
			<integer>243</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>9.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_upright_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>100</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>26</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_upright_2.png</key>
		<dict>
			<key>x</key>
			<integer>787</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<real>18</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_attack_upright_3.png</key>
		<dict>
			<key>x</key>
			<integer>204</integer>
			<key>y</key>
			<integer>243</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>29</real>
			<key>offsetY</key>
			<real>8.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_run_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>142</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>23</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_run_down_2.png</key>
		<dict>
			<key>x</key>
			<integer>68</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>130</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>18</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_run_left_1.png</key>
		<dict>
			<key>x</key>
			<integer>137</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>135</integer>
			<key>height</key>
			<integer>76</integer>
			<key>offsetX</key>
			<real>11.5</real>
			<key>offsetY</key>
			<real>15</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_run_left_2.png</key>
		<dict>
			<key>x</key>
			<integer>273</integer>
			<key>y</key>
			<integer>324</integer>
			<key>width</key>
			<integer>134</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>10</real>
			<key>offsetY</key>
			<real>13.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_run_right_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>243</integer>
			<key>width</key>
			<integer>109</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>9.5</real>
			<key>offsetY</key>
			<real>13</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_run_right_2.png</key>
		<dict>
			<key>x</key>
			<integer>741</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>106</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>10</real>
			<key>offsetY</key>
			<real>9.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_run_up_1.png</key>
		<dict>
			<key>x</key>
			<integer>102</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>10</real>
			<key>offsetY</key>
			<real>12</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QiangQiBing_run_up_2.png</key>
		<dict>
			<key>x</key>
			<integer>567</integer>
			<key>y</key>
			<integer>146</integer>
			<key>width</key>
			<integer>67</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>9.5</real>
			<key>offsetY</key>
			<real>13</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
	</dict>
</dict>
</plist>