<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>QingBuBing_attack_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>56</integer>
			<key>y</key>
			<integer>62</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>-6.5</real>
			<key>offsetY</key>
			<real>-4</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_attack_downleft_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>62</integer>
			<key>width</key>
			<integer>54</integer>
			<key>height</key>
			<integer>62</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-3</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_attack_downleft_2.png</key>
		<dict>
			<key>x</key>
			<integer>314</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>14</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_attack_downleft_3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>248</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>127</integer>
			<key>offsetX</key>
			<real>-10</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_attack_downright_1.png</key>
		<dict>
			<key>x</key>
			<integer>251</integer>
			<key>y</key>
			<integer>62</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>68</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-7</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_attack_downright_2.png</key>
		<dict>
			<key>x</key>
			<integer>136</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_attack_downright_3.png</key>
		<dict>
			<key>x</key>
			<integer>211</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>13</real>
			<key>offsetY</key>
			<real>-5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_attack_upleft_1.png</key>
		<dict>
			<key>x</key>
			<integer>219</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>61</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>9.5</real>
			<key>offsetY</key>
			<real>-3.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_attack_upleft_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>58</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_attack_upleft_3.png</key>
		<dict>
			<key>x</key>
			<integer>381</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>102</integer>
			<key>height</key>
			<integer>111</integer>
			<key>offsetX</key>
			<real>-10</real>
			<key>offsetY</key>
			<real>14.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_attack_upright_1.png</key>
		<dict>
			<key>x</key>
			<integer>417</integer>
			<key>y</key>
			<integer>62</integer>
			<key>width</key>
			<integer>52</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>6</real>
			<key>offsetY</key>
			<real>-11.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_attack_upright_2.png</key>
		<dict>
			<key>x</key>
			<integer>418</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_attack_upright_3.png</key>
		<dict>
			<key>x</key>
			<integer>317</integer>
			<key>y</key>
			<integer>62</integer>
			<key>width</key>
			<integer>99</integer>
			<key>height</key>
			<integer>73</integer>
			<key>offsetX</key>
			<real>16.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_run_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>149</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>69</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>-10.5</real>
			<key>offsetY</key>
			<real>1.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_run_down_2.png</key>
		<dict>
			<key>x</key>
			<integer>82</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>59</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_run_left_1.png</key>
		<dict>
			<key>x</key>
			<integer>281</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>10</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_run_left_2.png</key>
		<dict>
			<key>x</key>
			<integer>350</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>67</integer>
			<key>height</key>
			<integer>60</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>10</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_run_right_1.png</key>
		<dict>
			<key>x</key>
			<integer>69</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>66</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_run_right_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>136</integer>
			<key>width</key>
			<integer>67</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>9.5</real>
			<key>offsetY</key>
			<real>-4.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_run_up_1.png</key>
		<dict>
			<key>x</key>
			<integer>122</integer>
			<key>y</key>
			<integer>62</integer>
			<key>width</key>
			<integer>65</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>16.5</real>
			<key>offsetY</key>
			<real>15.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>QingBuBing_run_up_2.png</key>
		<dict>
			<key>x</key>
			<integer>188</integer>
			<key>y</key>
			<integer>62</integer>
			<key>width</key>
			<integer>62</integer>
			<key>height</key>
			<integer>67</integer>
			<key>offsetX</key>
			<real>16</real>
			<key>offsetY</key>
			<real>14.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
	</dict>
</dict>
</plist>