<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>SunQuan_run_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>16.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>SunQuan_run_down_2.png</key>
		<dict>
			<key>x</key>
			<integer>80</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>4</real>
			<key>offsetY</key>
			<real>11</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>SunQuan_run_left_1.png</key>
		<dict>
			<key>x</key>
			<integer>159</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>25.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>SunQuan_run_left_2.png</key>
		<dict>
			<key>x</key>
			<integer>312</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>80</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>-8</real>
			<key>offsetY</key>
			<real>21.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>SunQuan_run_right_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>94</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>8</real>
			<key>offsetY</key>
			<real>22.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>SunQuan_run_right_2.png</key>
		<dict>
			<key>x</key>
			<integer>228</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>14.5</real>
			<key>offsetY</key>
			<real>21</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>SunQuan_run_up_1.png</key>
		<dict>
			<key>x</key>
			<integer>393</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>27</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>SunQuan_run_up_2.png</key>
		<dict>
			<key>x</key>
			<integer>74</integer>
			<key>y</key>
			<integer>94</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>28</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
	</dict>
</dict>
</plist>