<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>YouQiBing_attack_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>79</integer>
			<key>y</key>
			<integer>256</integer>
			<key>width</key>
			<integer>67</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>11.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_attack_downleft_1.png</key>
		<dict>
			<key>x</key>
			<integer>408</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>12</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_attack_downleft_2.png</key>
		<dict>
			<key>x</key>
			<integer>168</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>-1</real>
			<key>offsetY</key>
			<real>9.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_attack_downleft_3.png</key>
		<dict>
			<key>x</key>
			<integer>255</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>86</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>13</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_attack_downright_1.png</key>
		<dict>
			<key>x</key>
			<integer>335</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>72</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>12</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_attack_downright_2.png</key>
		<dict>
			<key>x</key>
			<integer>342</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>71</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>11.5</real>
			<key>offsetY</key>
			<real>6.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_attack_downright_3.png</key>
		<dict>
			<key>x</key>
			<integer>93</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>87</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>12.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_attack_upleft_1.png</key>
		<dict>
			<key>x</key>
			<integer>256</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>85</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>10.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_attack_upleft_2.png</key>
		<dict>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>83</integer>
			<key>offsetX</key>
			<real>5</real>
			<key>offsetY</key>
			<real>10.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_attack_upleft_3.png</key>
		<dict>
			<key>x</key>
			<integer>177</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>78</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>11</real>
			<key>offsetY</key>
			<real>10</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_attack_upright_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>83</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>14.5</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_attack_upright_2.png</key>
		<dict>
			<key>x</key>
			<integer>245</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>18.5</real>
			<key>offsetY</key>
			<real>6.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_attack_upright_3.png</key>
		<dict>
			<key>x</key>
			<integer>85</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>85</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>12.5</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_run_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>147</integer>
			<key>y</key>
			<integer>256</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>99</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>26.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_run_down_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>256</integer>
			<key>width</key>
			<integer>77</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>24.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_run_left_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>79</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>80</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>19</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_run_left_2.png</key>
		<dict>
			<key>x</key>
			<integer>406</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>77</integer>
			<key>offsetX</key>
			<real>9.5</real>
			<key>offsetY</key>
			<real>16.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_run_right_1.png</key>
		<dict>
			<key>x</key>
			<integer>414</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>89</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>9.5</real>
			<key>offsetY</key>
			<real>14.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_run_right_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>166</integer>
			<key>width</key>
			<integer>91</integer>
			<key>height</key>
			<integer>86</integer>
			<key>offsetX</key>
			<real>7.5</real>
			<key>offsetY</key>
			<real>12</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_run_up_1.png</key>
		<dict>
			<key>x</key>
			<integer>331</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>75</integer>
			<key>offsetX</key>
			<real>14</real>
			<key>offsetY</key>
			<real>19.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>YouQiBing_run_up_2.png</key>
		<dict>
			<key>x</key>
			<integer>171</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>73</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>13.5</real>
			<key>offsetY</key>
			<real>18</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
	</dict>
</dict>
</plist>