<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>256</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>ZhangHe_run_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>297</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-11</real>
			<key>offsetY</key>
			<real>8.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhangHe_run_down_2.png</key>
		<dict>
			<key>x</key>
			<integer>297</integer>
			<key>y</key>
			<integer>91</integer>
			<key>width</key>
			<integer>108</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>-13</real>
			<key>offsetY</key>
			<real>6.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhangHe_run_left_1.png</key>
		<dict>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>99</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>84</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>21</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhangHe_run_left_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>117</integer>
			<key>width</key>
			<integer>96</integer>
			<key>height</key>
			<integer>81</integer>
			<key>offsetX</key>
			<real>1</real>
			<key>offsetY</key>
			<real>21.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhangHe_run_right_1.png</key>
		<dict>
			<key>x</key>
			<integer>197</integer>
			<key>y</key>
			<integer>100</integer>
			<key>width</key>
			<integer>99</integer>
			<key>height</key>
			<integer>113</integer>
			<key>offsetX</key>
			<real>7.5</real>
			<key>offsetY</key>
			<real>7.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhangHe_run_right_2.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>95</integer>
			<key>height</key>
			<integer>115</integer>
			<key>offsetX</key>
			<real>8.5</real>
			<key>offsetY</key>
			<real>4.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhangHe_run_up_1.png</key>
		<dict>
			<key>x</key>
			<integer>197</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>98</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>16</real>
			<key>offsetY</key>
			<real>23</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhangHe_run_up_2.png</key>
		<dict>
			<key>x</key>
			<integer>98</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>97</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>18.5</real>
			<key>offsetY</key>
			<real>25.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
	</dict>
</dict>
</plist>