<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>512</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>ZhuGeLiang_attack_down_1.png</key>
		<dict>
			<key>x</key>
			<integer>301</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>75</integer>
			<key>height</key>
			<integer>89</integer>
			<key>offsetX</key>
			<real>12.5</real>
			<key>offsetY</key>
			<real>11.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhuGeLiang_attack_downleft_1.png</key>
		<dict>
			<key>x</key>
			<integer>153</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>67</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>10.5</real>
			<key>offsetY</key>
			<real>13</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhuGeLiang_attack_downleft_2.png</key>
		<dict>
			<key>x</key>
			<integer>76</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>76</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>10</real>
			<key>offsetY</key>
			<real>11.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhuGeLiang_attack_downleft_3.png</key>
		<dict>
			<key>x</key>
			<integer>155</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>126</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>-12</real>
			<key>offsetY</key>
			<real>11</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhuGeLiang_attack_downright_1.png</key>
		<dict>
			<key>x</key>
			<integer>377</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>60</integer>
			<key>height</key>
			<integer>90</integer>
			<key>offsetX</key>
			<real>10</real>
			<key>offsetY</key>
			<real>11</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhuGeLiang_attack_downright_2.png</key>
		<dict>
			<key>x</key>
			<integer>221</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>79</integer>
			<key>height</key>
			<integer>88</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>10</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhuGeLiang_attack_downright_3.png</key>
		<dict>
			<key>x</key>
			<integer>282</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>14</real>
			<key>offsetY</key>
			<real>5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhuGeLiang_attack_upleft_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>68</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>12</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhuGeLiang_attack_upleft_2.png</key>
		<dict>
			<key>x</key>
			<integer>438</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>70</integer>
			<key>height</key>
			<integer>93</integer>
			<key>offsetX</key>
			<real>14</real>
			<key>offsetY</key>
			<real>10.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhuGeLiang_attack_upleft_3.png</key>
		<dict>
			<key>x</key>
			<integer>126</integer>
			<key>y</key>
			<integer>198</integer>
			<key>width</key>
			<integer>134</integer>
			<key>height</key>
			<integer>120</integer>
			<key>offsetX</key>
			<real>-7</real>
			<key>offsetY</key>
			<real>24</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhuGeLiang_attack_upright_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>74</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>9</real>
			<key>offsetY</key>
			<real>13.5</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhuGeLiang_attack_upright_2.png</key>
		<dict>
			<key>x</key>
			<integer>70</integer>
			<key>y</key>
			<integer>95</integer>
			<key>width</key>
			<integer>84</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>7</real>
			<key>offsetY</key>
			<real>8</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
		<key>ZhuGeLiang_attack_upright_3.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>198</integer>
			<key>width</key>
			<integer>124</integer>
			<key>height</key>
			<integer>102</integer>
			<key>offsetX</key>
			<real>24</real>
			<key>offsetY</key>
			<real>17</real>
			<key>originalWidth</key>
			<integer>400</integer>
			<key>originalHeight</key>
			<integer>400</integer>
		</dict>
	</dict>
</dict>
</plist>