<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>1024</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>bu.png</key>
		<dict>
			<key>x</key>
			<integer>386</integer>
			<key>y</key>
			<integer>391</integer>
			<key>width</key>
			<integer>201</integer>
			<key>height</key>
			<integer>215</integer>
			<key>offsetX</key>
			<real>-0.5</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>208</integer>
			<key>originalHeight</key>
			<integer>220</integer>
		</dict>
		<key>bu_blue.png</key>
		<dict>
			<key>x</key>
			<integer>736</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>146</integer>
			<key>originalHeight</key>
			<integer>146</integer>
		</dict>
		<key>bu_gray.png</key>
		<dict>
			<key>x</key>
			<integer>864</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>146</integer>
			<key>originalHeight</key>
			<integer>146</integer>
		</dict>
		<key>bu_yellow.png</key>
		<dict>
			<key>x</key>
			<integer>295</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>146</integer>
			<key>originalHeight</key>
			<integer>146</integer>
		</dict>
		<key>chop.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>256</integer>
			<key>height</key>
			<integer>16</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>256</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>jiandao.png</key>
		<dict>
			<key>x</key>
			<integer>205</integer>
			<key>y</key>
			<integer>391</integer>
			<key>width</key>
			<integer>180</integer>
			<key>height</key>
			<integer>214</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>208</integer>
			<key>originalHeight</key>
			<integer>220</integer>
		</dict>
		<key>jiandao_blue.png</key>
		<dict>
			<key>x</key>
			<integer>717</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>146</integer>
			<key>originalHeight</key>
			<integer>146</integer>
		</dict>
		<key>jiandao_gray.png</key>
		<dict>
			<key>x</key>
			<integer>570</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>146</integer>
			<key>originalHeight</key>
			<integer>146</integer>
		</dict>
		<key>jiandao_yellow.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>146</integer>
			<key>originalHeight</key>
			<integer>146</integer>
		</dict>
		<key>miss.png</key>
		<dict>
			<key>x</key>
			<integer>258</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>154</integer>
			<key>height</key>
			<integer>45</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>156</integer>
			<key>originalHeight</key>
			<integer>48</integer>
		</dict>
		<key>PK_HP.png</key>
		<dict>
			<key>x</key>
			<integer>172</integer>
			<key>y</key>
			<integer>391</integer>
			<key>width</key>
			<integer>32</integer>
			<key>height</key>
			<integer>176</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>32</integer>
			<key>originalHeight</key>
			<integer>176</integer>
		</dict>
		<key>PKLose.png</key>
		<dict>
			<key>x</key>
			<integer>768</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>254</integer>
			<key>height</key>
			<integer>95</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-2.5</real>
			<key>originalWidth</key>
			<integer>260</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>PKlose_chs.png</key>
		<dict>
			<key>x</key>
			<integer>120</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>109</integer>
			<key>height</key>
			<integer>97</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>135</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>PKlose_cht.png</key>
		<dict>
			<key>x</key>
			<integer>658</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>109</integer>
			<key>height</key>
			<integer>94</integer>
			<key>offsetX</key>
			<real>3</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>135</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>PKvs.png</key>
		<dict>
			<key>x</key>
			<integer>588</integer>
			<key>y</key>
			<integer>391</integer>
			<key>width</key>
			<integer>147</integer>
			<key>height</key>
			<integer>220</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>152</integer>
			<key>originalHeight</key>
			<integer>220</integer>
		</dict>
		<key>PKvs_chs.png</key>
		<dict>
			<key>x</key>
			<integer>413</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>123</integer>
			<key>height</key>
			<integer>91</integer>
			<key>offsetX</key>
			<real>2</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>135</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>PKvs_cht.png</key>
		<dict>
			<key>x</key>
			<integer>537</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>120</integer>
			<key>height</key>
			<integer>92</integer>
			<key>offsetX</key>
			<real>2.5</real>
			<key>offsetY</key>
			<real>1</real>
			<key>originalWidth</key>
			<integer>135</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>PKwin.png</key>
		<dict>
			<key>x</key>
			<integer>345</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>224</integer>
			<key>height</key>
			<integer>100</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>224</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>PKwin_chs.png</key>
		<dict>
			<key>x</key>
			<integer>230</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>114</integer>
			<key>height</key>
			<integer>98</integer>
			<key>offsetX</key>
			<real>-2.5</real>
			<key>offsetY</key>
			<real>-1</real>
			<key>originalWidth</key>
			<integer>135</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>PKwin_cht.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>97</integer>
			<key>width</key>
			<integer>118</integer>
			<key>height</key>
			<integer>96</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>-2</real>
			<key>originalWidth</key>
			<integer>135</integer>
			<key>originalHeight</key>
			<integer>100</integer>
		</dict>
		<key>shitou.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>391</integer>
			<key>width</key>
			<integer>170</integer>
			<key>height</key>
			<integer>174</integer>
			<key>offsetX</key>
			<real>8</real>
			<key>offsetY</key>
			<real>-21</real>
			<key>originalWidth</key>
			<integer>208</integer>
			<key>originalHeight</key>
			<integer>220</integer>
		</dict>
		<key>shitou_blue.png</key>
		<dict>
			<key>x</key>
			<integer>442</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>146</integer>
			<key>originalHeight</key>
			<integer>146</integer>
		</dict>
		<key>shitou_gray.png</key>
		<dict>
			<key>x</key>
			<integer>589</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>146</integer>
			<key>originalHeight</key>
			<integer>146</integer>
		</dict>
		<key>shitou_yellow.png</key>
		<dict>
			<key>x</key>
			<integer>148</integer>
			<key>y</key>
			<integer>244</integer>
			<key>width</key>
			<integer>146</integer>
			<key>height</key>
			<integer>146</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>146</integer>
			<key>originalHeight</key>
			<integer>146</integer>
		</dict>
	</dict>
</dict>
</plist>