<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>texture</key>
	<dict>
		<key>width</key>
		<integer>1024</integer>
		<key>height</key>
		<integer>512</integer>
	</dict>
	<key>frames</key>
	<dict>
		<key>ban01_1.png</key>
		<dict>
			<key>x</key>
			<integer>238</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>312</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>312</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>ban01_2.png</key>
		<dict>
			<key>x</key>
			<integer>551</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>312</integer>
			<key>height</key>
			<integer>74</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>312</integer>
			<key>originalHeight</key>
			<integer>74</integer>
		</dict>
		<key>ban02_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>193</integer>
			<key>width</key>
			<integer>208</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>208</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>ban02_2.png</key>
		<dict>
			<key>x</key>
			<integer>399</integer>
			<key>y</key>
			<integer>193</integer>
			<key>width</key>
			<integer>208</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>208</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>ban03_1.png</key>
		<dict>
			<key>x</key>
			<integer>608</integer>
			<key>y</key>
			<integer>193</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>ban03_2.png</key>
		<dict>
			<key>x</key>
			<integer>733</integer>
			<key>y</key>
			<integer>122</integer>
			<key>width</key>
			<integer>148</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>148</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>ban04_1.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>236</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>236</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>ban04_2.png</key>
		<dict>
			<key>x</key>
			<integer>757</integer>
			<key>y</key>
			<integer>193</integer>
			<key>width</key>
			<integer>236</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>236</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>ban05_1.png</key>
		<dict>
			<key>x</key>
			<integer>210</integer>
			<key>y</key>
			<integer>193</integer>
			<key>width</key>
			<integer>188</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>188</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>ban05_2.png</key>
		<dict>
			<key>x</key>
			<integer>544</integer>
			<key>y</key>
			<integer>122</integer>
			<key>width</key>
			<integer>188</integer>
			<key>height</key>
			<integer>70</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>188</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>bg_xiaobing.png</key>
		<dict>
			<key>x</key>
			<integer>114</integer>
			<key>y</key>
			<integer>369</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>112</integer>
		</dict>
		<key>down_sanjiao_click.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>22</integer>
		</dict>
		<key>Dragon.png</key>
		<dict>
			<key>x</key>
			<integer>435</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>170</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>170</integer>
			<key>originalHeight</key>
			<integer>50</integer>
		</dict>
		<key>Game select_BG.png</key>
		<dict>
			<key>x</key>
			<integer>236</integer>
			<key>y</key>
			<integer>52</integer>
			<key>width</key>
			<integer>542</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>542</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>Game select_click.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>122</integer>
			<key>width</key>
			<integer>542</integer>
			<key>height</key>
			<integer>69</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>542</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>huadong.png</key>
		<dict>
			<key>x</key>
			<integer>388</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>46</integer>
			<key>height</key>
			<integer>28</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>46</integer>
			<key>originalHeight</key>
			<integer>28</integer>
		</dict>
		<key>juanzhou0.png</key>
		<dict>
			<key>x</key>
			<integer>419</integer>
			<key>y</key>
			<integer>369</integer>
			<key>width</key>
			<integer>149</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>1.5</real>
			<key>offsetY</key>
			<real>-1.5</real>
			<key>originalWidth</key>
			<integer>152</integer>
			<key>originalHeight</key>
			<integer>135</integer>
		</dict>
		<key>juanzhou1.png</key>
		<dict>
			<key>x</key>
			<integer>269</integer>
			<key>y</key>
			<integer>369</integer>
			<key>width</key>
			<integer>149</integer>
			<key>height</key>
			<integer>131</integer>
			<key>offsetX</key>
			<real>-1.5</real>
			<key>offsetY</key>
			<real>2</real>
			<key>originalWidth</key>
			<integer>152</integer>
			<key>originalHeight</key>
			<integer>135</integer>
		</dict>
		<key>kuang_xiaobing.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>369</integer>
			<key>width</key>
			<integer>112</integer>
			<key>height</key>
			<integer>112</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>112</integer>
			<key>originalHeight</key>
			<integer>112</integer>
		</dict>
		<key>left_sanjiao_click.png</key>
		<dict>
			<key>x</key>
			<integer>248</integer>
			<key>y</key>
			<integer>369</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>22</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>levelArrow.png</key>
		<dict>
			<key>x</key>
			<integer>864</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>42</integer>
			<key>height</key>
			<integer>79</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0.5</real>
			<key>originalWidth</key>
			<integer>42</integer>
			<key>originalHeight</key>
			<integer>82</integer>
		</dict>
		<key>mode_bg.png</key>
		<dict>
			<key>x</key>
			<integer>1</integer>
			<key>y</key>
			<integer>52</integer>
			<key>width</key>
			<integer>234</integer>
			<key>height</key>
			<integer>64</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>234</integer>
			<key>originalHeight</key>
			<integer>64</integer>
		</dict>
		<key>mode_left.png</key>
		<dict>
			<key>x</key>
			<integer>654</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>mode_left_click.png</key>
		<dict>
			<key>x</key>
			<integer>606</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>mode_right.png</key>
		<dict>
			<key>x</key>
			<integer>750</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>mode_right_click.png</key>
		<dict>
			<key>x</key>
			<integer>702</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>47</integer>
			<key>height</key>
			<integer>50</integer>
			<key>offsetX</key>
			<real>0.5</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>70</integer>
			<key>originalHeight</key>
			<integer>70</integer>
		</dict>
		<key>right_sanjiao_click.png</key>
		<dict>
			<key>x</key>
			<integer>227</integer>
			<key>y</key>
			<integer>369</integer>
			<key>width</key>
			<integer>20</integer>
			<key>height</key>
			<integer>128</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>22</integer>
			<key>originalHeight</key>
			<integer>128</integer>
		</dict>
		<key>S_kong.png</key>
		<dict>
			<key>x</key>
			<integer>907</integer>
			<key>y</key>
			<integer>264</integer>
			<key>width</key>
			<integer>104</integer>
			<key>height</key>
			<integer>104</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>104</integer>
			<key>originalHeight</key>
			<integer>104</integer>
		</dict>
		<key>sanjiao.png</key>
		<dict>
			<key>x</key>
			<integer>259</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>21</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>-0.5</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>22</integer>
		</dict>
		<key>sanjiao_click.png</key>
		<dict>
			<key>x</key>
			<integer>130</integer>
			<key>y</key>
			<integer>1</integer>
			<key>width</key>
			<integer>128</integer>
			<key>height</key>
			<integer>20</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>128</integer>
			<key>originalHeight</key>
			<integer>22</integer>
		</dict>
		<key>touxiang_kuang.png</key>
		<dict>
			<key>x</key>
			<integer>569</integer>
			<key>y</key>
			<integer>369</integer>
			<key>width</key>
			<integer>132</integer>
			<key>height</key>
			<integer>132</integer>
			<key>offsetX</key>
			<real>0</real>
			<key>offsetY</key>
			<real>0</real>
			<key>originalWidth</key>
			<integer>132</integer>
			<key>originalHeight</key>
			<integer>132</integer>
		</dict>
	</dict>
</dict>
</plist>